.DS_Store
.tags
.tags1
.sass-cache/*
composer.lock
/node_modules/*
/vendor/*
/tmp/*
/logs/*
/.env

/config/app.php
/webroot/vendors/bower_components

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
/nbproject/
